@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local("Montserrat Black "), local("Montserrat-Black"),
    url("/static/montserrat-latin-900-58cd789700850375b834e8b6776002eb.woff2")
      format("woff2");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Merriweather Regular "), local("Merriweather-Regular"),
    url("/static/merriweather-latin-400-8276fdb72ae8f4714d4e6eba704cc39f.woff2")
      format("woff2");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Merriweather Bold "), local("Merriweather-Bold"),
    url("/static/merriweather-latin-700-fa534be7ffa380e39a7f6e03bf9a5e03.woff2")
      format("woff2");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Montserrat Bold "), local("Montserrat-Bold"),
    url("/static/montserrat-latin-700-39d93cf678c740f9f6b2b1cfde34bee3.woff2")
      format("woff2");
}
